.Form{
    width:70%;
    margin:2% 15%;
}

.Button{
    padding-top:3%;
    text-align: center;
}

.Button button {
    margin:2%;
}
@media screen and (max-width:800px){
    .Form{
        width:90%;
        margin:2% 5%;
    }
}