.AddUser {
    width:60%;
    margin:5% 20%;
    border: 1px solid rgb(95, 151, 170);
    border-radius: 25px;
}

@media screen and (max-width:800px){
    .AddUser{
        width:80%;
        margin:5% 10%;
    }
}