
.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    width: 40%;
    padding:0;
    text-align: center;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
 /*   position:fixed;*/
}

.NavigationItem a:hover,
.NavigationItem a.active {
    color: rgb(7, 7, 7);
    animation: jiggle 0.2s;
}

@keyframes jiggle{
    0% {
        transform: translate(1px, 1px) rotate(-1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(1deg);
    }
}

@media screen and (max-width:600px){
    .NavigationItem {
        width:90%;
        font-size:1.2em;
        padding:2% 0;
    }
}